/package-lock.json
/node_modules/*
!/node_modules/ol/
/node_modules/ol/*
!/node_modules/ol/ol.css
!/node_modules/ol/dist/
!/node_modules/jquery-flexdatalist/
/node_modules/jquery-flexdatalist/*
!/node_modules/jquery-flexdatalist/jquery.flexdatalist.css
!/node_modules/jquery-flexdatalist/jquery.flexdatalist.js
