language: python

python:
  - "2.7"

env:
  - VERSION="6.1" LINT_CHECK="1"
  - VERSION="6.1" ODOO_REPO="odoo/odoo" LINT_CHECK="0"
  - VERSION="6.1" ODOO_REPO="OCA/OCB" LINT_CHECK="0"

virtualenv:
  system_site_packages: true

sudo: false
cache: pip

addons:
  apt:
    packages:
	- postgis      
install:
  - git clone --depth=1 https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly
  - pip install geojson Shapely

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
