odoo-addon-base_geoengine @ git+https://github.com/OCA/geospatial.git@refs/pull/414/head#subdirectory=base_geoengine

odoo-addon-geoengine_partner @ git+https://github.com/OCA/geospatial.git@refs/pull/450/head#subdirectory=geoengine_partner
