odoo_test_helper
odoo-addon-partner_store @ git+https://github.com/OCA/partner-contact.git@refs/pull/2417/head#subdirectory=partner_store
odoo-addon-website_geoengine @ git+https://github.com/OCA/geospatial.git@refs/pull/474/head#subdirectory=website_geoengine
