/* https://github.com/twbs/bootstrap/issues/4160 */
/* put google places autocomplete dropdown results above the bootstrap modal 1050 zindex. */
.pac-container {
    z-index: 1051 !important;
}

.o_field_x2many_google_map {
    margin-top: 10px;
}

.o_google_map_container {
    display: flex;
    align-content: stretch;
    overflow-x: visible;
    min-height: 550px;
    height: 100%;

    .o_google_map_view {
        width: 100%;

        .gm-style-iw {
            min-width: 300px;
        }
    }

    .o_map_right_sidebar {
        right: 0;
        bottom: 0;
        background-color: #f5f5f5;

        &.closed {
            width: 0;
            transition: 0.5s;
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
        }

        &.open {
            width: 250px;
            transition: 0.5s;
            transform: translateX(0);
            -webkit-transform: translateX(0);
            overflow-x: auto;
        }

        ul {
            margin-top: 10px;
            padding-left: 3px;
            list-style: none;
            font-size: 12px;

            li {
                padding-bottom: 8px;

                span {
                    padding: 3px 6px;

                    &.total {
                        font-size: 10px;
                        background: #ddd;
                        border-radius: 3px;
                    }
                }
            }
        }
    }

    .o_map_button {
        cursor: pointer;
        text-align: center;
        width: auto;
        padding: 0px 6px;
        margin: 0px 15px 5px 0px;
        background-color: #ffffff;
        border-radius: 2px;
        line-height: 25px;
        font-family: "Roboto,Arial,sans-serif";
    }

    .o_kanban_view {
        .o_kanban_record,
        .o_kanban_quick_create {
            border: none;
            margin-bottom: $o-kanban-inside-hgutter;
            width: 100%;

            &:focus,
            &:focus-within {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }

        .o_kanban_record {
            border-top: 1px solid #ddd;
            .o_kanban_record_title {
                @include o-kanban-record-title($font-size: 14px);
            }
        }

        .o_kanban_group {
            padding: 5px 16px 5px 16px;
        }

        .oe_kanban_card,
        .o_kanban_record {
            .oe_kanban_details {
                ul {
                    font-size: 13px;
                }
            }
        }
    }
}
