{
  "globals": {
    "$": false,
    "_": false,
    "ol": false,
    "chroma": false,
    "geostats": false
  },
  "plugins": [
    "jsdoc"
  ],
  "rules": {
    "jsdoc/check-tag-names": [
      "warn",
      {
        "definedTags": ["odoo-module"]
      }
    ]
  }
}
